<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Bookstore</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>

  <h1>Book Management</h1>

  <!-- Search -->
  <form method="GET" action="/books/search">
    <input type="text" name="name" placeholder="Search" />
    <button type="submit">Search</button>
  </form>

  <br>

  <a href="/books">View All Books</a>

</body>
</html>
